option_settings:
  aws:elasticbeanstalk:application:environment:
    COGNITO_REGION: "eu-central-1"
    COGNITO_USER_POOL_ID: "eu-central-1_ZjIIM1NW7"
    COGNITO_APP_CLIENT_ID: "5a9tbescjhsoqauoj5k43kvf71"
    AUTH_ENABLE_JWT: "true"
    AUTH_ENABLE_BASIC: "true"
    COGNITO_REQUIRED_SCOPE: "api.read"

